<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News - Main page</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/news.css}">
    <link rel="stylesheet" th:href="@{/css/news-article.css}">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <img class="header-logo__icon" th:src="@{/img/news.svg}"
             alt="News icon">
        <!--        <a class="header-logo__title" href="${path}/controller?command=go_to_news_page">News</a>-->
    </div>
    <div class="header-auth">
        <!--        <c:choose>-->
        <!--            <c:when test="${current_role eq 'UNKNOWN'}">-->
        <!--                <a class="header-auth__item" href="${path}/controller?command=go_to_login_page">Log in</a>-->
        <!--                <a class="header-auth__item" href="${path}/controller?command=go_to_signup_page">Sign Up</a>-->
        <!--            </c:when>-->
        <!--            <c:otherwise>-->
        <!--                <a class="header-auth__item">Hi, ${current_user_email} | </a>-->
        <!--                <a class="header-auth__item" href="${path}/controller?command=logout">Log out</a>-->
        <!--            </c:otherwise>-->
        <!--        </c:choose>-->


    </div>
</header>
<main class="main">
    <section class="articles-container">
        <article class="news-article" th:each="news:${all_news_list}">
            <a class="news-article__title" th:text="${news.title}"></a>
            <p class="news-article__text" th:text="${news.content}">
            </p>
            <div class="news-article-date">
                <img class="news-article-date__img"
                     th:src="@{/img/calendar.svg}" alt="Date">
                <p class="news-article-date__text" th:text="${news.addedAt}">
                </p>
            </div>
        </article>
    </section>
</main>
</body>
</html>