<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News - details</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/news-article.css}">
    <link rel="stylesheet" th:href="@{/css/news-details.css}">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <img class="header-logo__icon" th:src="@{/img/news.svg}"
             alt="News icon">
        <a class="header-logo__title" th:href="@{/}">News</a>
    </div>
    <div class="header-auth">
        <a class="header-auth__item" th:text="${session.current_user} ?  ${session.current_user}: 'Log in' "
           th:href="@{/login}"></a>
        <a class="header-auth__item" th:text="${session.current_user} ?  'Log out': '' "
           th:href="@{/logout}">Log Out</a>
        <a class="header-auth__item" th:href="@{/signup}">Sign Up</a>

    </div>
</header>
<main class="main">
    <article class="news-article" style="max-height: 100%">
        <h2 class="news-article__title" th:text="${detailed_news.title}"></h2>
        <p class="news-article__text" th:text="${detailed_news.content}"></p>
        <div class="news-article-date">
            <img class="news-article-date__img"
                 th:src="@{/img/calendar.svg}" alt="Date">
            <p class="news-article-date__text" th:text="${detailed_news.addedAt}"></p>
        </div>
    </article>
</main>
</body>
</html>